.img-content {
    display: flex;
    justify-content: center;
    position: relative;
    background: #c4c4c4;
}

img {
    width: 35rem;
}

.detail-container {
    width: 100%;
    position: relative;
}

.description {
    width: 70%;
}

.btn-dark {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 50;
}